<h1><%= @drink.name %></h1>

<p>
	<strong>Description:</strong>
	<%= @drink.description %>
</p>

<p>
	<strong>Rating:</strong>
	<%= @drink.rating %>
</p>

<p>
	<strong>Type:</strong>
	<%= @drink.drink_type %>
</p>

<p>
	<strong>ABV:</strong>
	<%= @drink.abv %>
</p>