<h1>Drink Index</h1>

<%= link_to "new beer", new_beer_path %><br>
<%= link_to "beer list", beers_path %>

<table>
	<tr>
		<th>Name:</th>
		<th>Type:</th>
	</tr>

	<%= @drinks.each do |drink| %>
		<tr>
			<td><%= drink.name %></td>
			<td><%= drink.type %></td>
			<td><%= link_to 'show', drink_path(drink) %></td>
			<td><%= link_to 'delete', drink_path(drink),
					method: :delete,
					data: { confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>

</table>