<h1>New Drink</h1>

<%= form_for :drink, url: drinks_path do |f| %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :rating %><br>
		<%= f.text_field :rating %>
	</p>

	<p>
		<%= f.label :drink_type %>
	</p>

	<p>
		<%= f.label :abv %><br>
		<%= f.text_field :abv %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>